<app-header></app-header>

<div class="detail-top detail-top--full">

  <a
    mat-icon-button
    routerLink="/articles"
    aria-label="Retour"
    class="detail-top__back"
  >
    <mat-icon>west</mat-icon>
  </a>

  <div class="detail-top__inner">
    <h1 class="detail-top__title">Titre de l’article sélectionné</h1>
  </div>
</div>

<main class="container page page--article-detail">
  <section class="article">
    <div class="article__inner">

      <div class="article__meta">
        <div class="meta-item">
          <span>01/01/2026</span>
        </div>
        <div class="meta-item">
          <span>Auteur</span>
        </div>
        <div class="meta-item">
          <span>Thème</span>
        </div>
      </div>

      <p class="article__content">
        Content: lorem ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the Content: lorem ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been theContent: lorem ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the
      </p>

      <mat-divider class="article__divider"></mat-divider>

      <h2 class="article__h2">Commentaires</h2>

      <div class="comments">
        <div class="comment">
          <div class="comment__user">username</div>
          <div class="comment__bubble">
          contenu du commentaire
          </div>
        </div>

      </div>

      <div class="comment-form">
        <mat-form-field appearance="outline" class="comment-form__field">
          <mat-label>Écrivez ici votre commentaire</mat-label>
          <textarea matInput rows="4"></textarea>
        </mat-form-field>

        <button
          mat-icon-button
          class="comment-form__send"
          type="button"
          aria-label="Envoyer"
        >
          <img class="comment-form__send-icon" src="assets/icon_send.png" alt="" />
        </button>
      </div>
    </div>
  </section>
</main>
