<app-header></app-header>

<main class="container page">
  <section class="grid" aria-label="Liste des themes">
    <mat-card class="themes-card">
    
      <mat-card-title>Titre du theme</mat-card-title>
      <p>
        Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled
      </p>
            
                <div class="actions">
          <button class="mdd-button" type="button">S’abonner</button>
        </div>
      
    </mat-card>
    <mat-card class="themes-card">
    
      <mat-card-title>Titre du theme</mat-card-title>
      <p>
        Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled
      </p>
            <mat-card-actions align="end">
        <button mat-raised-button color="primary" type="button">S’abonner</button>
      </mat-card-actions>
    </mat-card>
        <mat-card class="themes-card">
    
      <mat-card-title>Titre du theme</mat-card-title>
      <p>
        Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled
      </p>
                <div class="actions">
          <button class="mdd-button" type="button" disabled>Déja abonné</button>
        </div>
    </mat-card>
        <mat-card class="themes-card">
    
      <mat-card-title>Titre du theme</mat-card-title>
      <p>
        Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled
      </p>
            <mat-card-actions align="end">
        <button mat-raised-button color="primary" type="button">S’abonner</button>
      </mat-card-actions>
    </mat-card>
        <mat-card class="themes-card">
    
      <mat-card-title>Titre du theme</mat-card-title>
      <p>
        Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled
      </p>
            <mat-card-actions align="end">
        <button mat-raised-button color="primary" type="button">S’abonner</button>
      </mat-card-actions>
    </mat-card>
        <mat-card class="themes-card">
    
      <mat-card-title>Titre du theme</mat-card-title>
      <p>
        Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled
      </p>
            <mat-card-actions align="end">
        <button mat-raised-button color="primary" type="button">S’abonner</button>
      </mat-card-actions>
    </mat-card>
        <mat-card class="themes-card">
    
      <mat-card-title>Titre du theme</mat-card-title>
      <p>
        Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled
      </p>
            <mat-card-actions align="end">
        <button mat-raised-button color="primary" type="button">S’abonner</button>
      </mat-card-actions>
    </mat-card>

  </section>
</main>