.actions {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.grid .themes-card p {
  /* Sur la page theme, on affiche un peu moins de lignes */
  -webkit-line-clamp: 3 !important;
}
@media (max-width: 48em) {
  /* Sur la page theme, on affiche un peu moins de lignes, mais sur mobile c'est 4*/
  .grid .themes-card p {
  -webkit-line-clamp: 4 !important;
}
}