<app-header></app-header>

<main class="container page">

  <div class="detail-top">

    <h1 class="detail-top__title">Profil utilisateur</h1>

  </div>

  <section class="profile">
    <div class="profile__content">

      <section class="create">
        <form class="create-form" action="#" method="post">
          <mat-form-field appearance="outline" class="full">
            <mat-label>Username</mat-label>
            <input matInput type="text" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full">
            <mat-label>Mot de passe</mat-label>
            <input matInput type="password" />
          </mat-form-field>

          <div class="actions form-actions">
            <button class="mdd-button" type="button">Sauvegarder</button>
          </div>
        </form>
      </section>

      <mat-divider class="divider"></mat-divider>

      <h2 class="h2">Abonnements</h2>

      <section class="grid subs" aria-label="Liste des themes">
        <mat-card class="themes-card">
          <mat-card-title>Titre du theme</mat-card-title>
          <p>
            Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled Content: lorem ipsum is simply dummy text of the printing and typesetting industry.
          </p>
          <div class="actions card-actions">
            <button class="mdd-button" type="button">S’abonner</button>
          </div>
        </mat-card>
      </section>
    </div>
  </section>
</main>
